<header>
    <div class="px-3 py-2 bg-primary bg-gradient border-bottom shadow">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <span
                    class="d-flex align-items-center fs-2 my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    BAF - Berylia Armed Forces
                </span>

                <div class="col-12 col-lg-auto my-2 justify-content-center">
                    <a href="/" class="btn btn-light bg-gradient ms-2" role="button">Home <i class="bi-house-door ms-2"></i></a>
                    <a href="/have-appointment" class="btn btn-light bg-gradient ms-2" role="button">Have Appointment<i class="bi-calendar-date ms-2"></i></a>
                    <a href="/visitor-status" class="btn btn-light bg-gradient ms-2" role="button">Visitor Status<i class="bi-person-check ms-2"></i></a>
                </div>

            </div>
        </div>
    </div>
</header>