<header>
    <div class="px-3 py-2 bg-primary bg-gradient border-bottom shadow">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <!-- <span class="d-flex align-items-center fs-2 my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <i class="bi-buildings me-2"></i>Access<br /><span>Berylia Armed Forces</span>
                </span> -->

                <span class="d-block align-items-center fs-2 my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <span class="fs-1 fw-bold"><i class="bi-buildings me-2"></i>Access</span>
                    <span class="fs-6 d-block fw-light">Visitor service by Berylia Armed Forces</span>
                </span>

                <div class="col-12 col-lg-auto my-2 justify-content-center">
                    <a href="/" class="btn btn-light bg-gradient ms-2" role="button">Home <i class="bi-house-door ms-2"></i></a>
                    <a href="/step-1-make-appointment" class="btn btn-light bg-gradient ms-2" role="button">Make an Appointment<i class="bi-calendar-date ms-2"></i></a>
                    <a href="/visitor-status" class="btn btn-light bg-gradient ms-2" role="button">Visitor Status<i class="bi-person-check ms-2"></i></a>
                </div>

            </div>
        </div>
    </div>
</header>